In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Pokemon.csv')

In [14]:
df['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [89]:
WNG_df = df[df['Type 1'].isin(['Water', 'Normal', 'Grass'])]

In [62]:
IFF_df = df[df['Type 1'].isin(['Ice', 'Fairy', 'Flying'])]

In [98]:
IFF_df[IFF_df['Legendary'] == True][['Total', 'Legendary', 'Name']].sort_values('Total', ascending=False)

     Total  Legendary                     Name
792    680       True                  Xerneas
156    580       True                 Articuno
415    580       True                   Regice
702    580       True  TornadusIncarnate Forme
703    580       True    TornadusTherian Forme

In [97]:
WNG_df[WNG_df['Legendary'] == True][['Total', 'Legendary', 'Name']].sort_values('Total', ascending=False)

     Total  Legendary                 Name
422    770       True  KyogrePrimal Kyogre
552    720       True               Arceus
541    680       True               Palkia
421    670       True               Kyogre
543    670       True            Regigigas
550    600       True    ShayminLand Forme
551    600       True     ShayminSky Forme
264    580       True              Suicune
701    580       True             Virizion

In [75]:
WNG_df[WNG_df['Legendary'] == False][['Total', 'Legendary']].mean()

Total        410.280443
Legendary      0.000000
dtype: float64

In [76]:
WNG_df[WNG_df.Legendary][['Total', 'Legendary']].mean()

Total        652.222222
Legendary      1.000000
dtype: float64

In [77]:
IFF_df[IFF_df['Legendary'] == False][['Total', 'Legendary']].mean()

Total        409.175
Legendary      0.000
dtype: float64

In [78]:
IFF_df[IFF_df.Legendary][['Total', 'Legendary']].mean()

Total        600.0
Legendary      1.0
dtype: float64